[submodule "android-ifaddrs"]
	path = android-ifaddrs
	url = https://github.com/morristech/android-ifaddrs.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "json"]
	path = json
	url = https://github.com/taocpp/json.git
